/*Put any CSS styling here*/

* {

}
/* remove rounding from cards, buttons and inputs */
/*.card, .btn, .form-control { border-radius: 0; }*/

.pt-3-half {
padding-top: 1.4rem;
}

.btn-group.special {
  display: flex;
}

.special .btn {
  flex: 1
}