{% extends "mysite/base.html" %}
{% block content %}
    <br>
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link active" id="list-medication-list" data-toggle="list" href="#list-medication" role="tab"
               aria-controls="Medication">Medication</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="list-injections-list" data-toggle="list" href="#list-injections" role="tab"
               aria-controls="Injections">Injections</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="list-immunisations-list" data-toggle="list" href="#list-immunisations" role="tab"
               aria-controls="Immunisations">Immunisations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="list-allergies-list" data-toggle="list" href="#list-allergies" role="tab"
               aria-controls="Allergies">Allergies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="list-guardian-list" data-toggle="list" href="#list-guardian" role="tab"
               aria-controls="Guardian">Guardian Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="list-notes-list" data-toggle="list" href="#list-notes" role="tab"
               aria-controls="Notes">Notes</a>
        </li>
    <li class="nav-item">
            <a class="nav-link" id="list-social-list" data-toggle="list" href="#list-social" role="tab"
               aria-controls="Social">Social History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="list-familyhist-list" data-toggle="list" href="#list-familyhist" role="tab"
               aria-controls="Family">Family History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="list-diagnosishistory-list" data-toggle="list" href="#list-diagnosishistory" role="tab"
               aria-controls="Diagnosis">Diagnosis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="list-news-list" data-toggle="list" href="#list-news" role="tab"
               aria-controls="News">N.E.W.S</a>
        </li>
    </ul>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h4>Patient Details</h4>
            <dl class="row">
                <dt class="col-sm-3">Title:</dt>
                <dd class="col-sm-9">{{ patient_list.patienttitle }}</dd>
                <dt class="col-sm-3">First Name:</dt>
                <dd class="col-sm-9">{{ patient_list.patientfirstname }}</dd>
                <dt class="col-sm-3">Last Name:</dt>
                <dd class="col-sm-9">{{ patient_list.patientlastname }}</dd>
                <dt class="col-sm-3">Preferred Name:</dt>
                <dd class="col-sm-9">{{ patient_list.patientpreferredname }}</dd>
                <dt class="col-sm-3">DOB:</dt>
                <dd class="col-sm-9">{{ patient_list.dateofbirth|date:"d F y" }}</dd>
                <dt class="col-sm-3">Gender:</dt>
                <dd class="col-sm-9">{{ patient_list.gender }}</dd>
                <dt class="col-sm-3">Weight (kg):</dt>
                <dd class="col-sm-9">{{ patient_list.weight }}</dd>
                <dt class="col-sm-3">Height (cm):</dt>
                <dd class="col-sm-9">{{ patient_list.height }}</dd>
                <dt class="col-sm-3">BMI:</dt>
                <dd class="col-sm-9">{{ patient_list.bmi }}</dd>
                <dt class="col-sm-3">Address:</dt>
                <dd class="col-sm-9">{{ patient_list.address }}</dd>
                <dt class="col-sm-3">Phone Number:</dt>
                <dd class="col-sm-9">{{ patient_list.phonenumber }}</dd>
                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">{{ patient_list.email }}</dd>
                <dt class="col-sm-3">Ward Location:</dt>
                <dd class="col-sm-9">{{ patient_list.wardlocation }}</dd>
                <dt class="col-sm-3">Photo:</dt>
                <dd class="col-sm-9"><img class="img-thumbnail" src="{{ patient_list.photo.url }}"></dd>
            </dl>

        </div>

        <div class="col-sm-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-medication" role="tabpanel"
                     aria-labelledby="list-medication-list">
                    <h4>Medication</h4>
                    <a class="btn btn-primary btn-lg" href="{% url 'add-medication' id=patient_list.id %}">Add Medication</a>

                    {% if medication|length > 0 %}
                        {% for med in medication %}
                            <dl class="row">
                                <dt class="col-sm-3">Medication Name:</dt>
                                <dd class="col-sm-9">{{ med.medicationname }}</dd>
                                <dt class="col-sm-3">Medication Start Date:</dt>
                                <dd class="col-sm-9">{{ med.medstartdatetime }}</dd>
                                <dt class="col-sm-3">Medication End Date:</dt>
                                <dd class="col-sm-9">{{ med.medenddatetime }}</dd>
                                <dt class="col-sm-3">Medication Duration:</dt>
                                <dd class="col-sm-9">{{ med.medicationduration }}</dd>
                                <dt class="col-sm-3">Medication Quantity:</dt>
                                <dd class="col-sm-9">{{ med.medicationquantity }}</dd>
                                <dt class="col-sm-3">Medication Schedule:</dt>
                                <dd class="col-sm-9">{{ med.medicationschedule }}</dd>
                                <hr style="width: 100%;"/>
                            </dl>
                        {% endfor %}
                    {% else %}
                        <p>No Medications Prescribed.</p>
                    {% endif %}

                </div>
                <div class="tab-pane fade" id="list-injections" role="tabpanel" aria-labelledby="list-injections-list">
                    <h4>Injections</h4>
                    <a class="btn btn-primary btn-lg" href="{% url 'add-injection' id=patient_list.id %}">Add Injections</a>

                    {% if injection|length > 0 %}
                        {% for inj in injection %}
                            <dl class="row">
                                <dt class="col-sm-3">Injection Name:</dt>
                                <dd class="col-sm-9">{{ inj.injectionname }}</dd>
                                <dt class="col-sm-3">Injection Date:</dt>
                                <dd class="col-sm-9">{{ inj.injectiondatetime }}</dd>
                                <dt class="col-sm-3">Injection Reason:</dt>
                                <dd class="col-sm-9">{{ inj.injectionreason }}</dd>
                                <dt class="col-sm-3">Injection Dose:</dt>
                                <dd class="col-sm-9">{{ inj.injectiondose }}</dd>
                                <dt class="col-sm-3">Injection Priority:</dt>
                                <dd class="col-sm-9">{{ inj.injectionpriority }}</dd>
                            </dl>
                        {% endfor %}
                    {% else %}
                        <p>No Injections Found.</p>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="list-immunisations" role="tabpanel"
                     aria-labelledby="list-immunisations-list">
                    <h4>Immunisations</h4>
                     <a class="btn btn-primary btn-lg" href="{% url 'add-immunisation' id=patient_list.id %}">Add Immunisation</a>

                    {% if immunisation|length > 0 %}
                        {% for imu in immunisation %}
                            <dl class="row">
                                <dt class="col-sm-3">Vacccine Name:</dt>
                                <dd class="col-sm-9">{{ imu.vaccinename }}</dd>
                                <dt class="col-sm-3">Dose:</dt>
                                <dd class="col-sm-9">{{ imu.vaccinedose }}</dd>
                                <dt class="col-sm-3">Reason:</dt>
                                <dd class="col-sm-9">{{ imu.vaccinereason }}</dd>
                                <dt class="col-sm-3">Date administered:</dt>
                                <dd class="col-sm-9">{{ imu.vaccinedatetime }}</dd>
                                <dt class="col-sm-3">Priority:</dt>
                                <dd class="col-sm-9">{{ imu.immunisationpriority }}</dd>
                            </dl>
                        {% endfor %}
                    {% else %}
                        <p>No Vaccines Found.</p>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="list-allergies" role="tabpanel" aria-labelledby="list-allergies-list">
                    <h4>Allergies</h4>
                    <a class="btn btn-primary btn-lg" href="{% url 'add-allergy' id=patient_list.id %}">Add Allergy</a>

                    {% if allergies|length > 0 %}
                        {% for allgery in allergies %}
                            <p>Allergy: {{ allgery.allergytype }}</p>
                            <p>Agent: {{ allgery.allergyagent }}</p>
                            <p>Reaction: {{ allgery.allergyreaction }}</p>
                            <p>Info source: {{ allgery.allergyinfosource }}</p>
                            <p>Recorded Date: {{ allgery.allergyrecorddatetime }}</p>
                            <p>Status: {{ allgery.allergystatus }}</p>
                        {% endfor %}
                    {% else %}
                        <p>No Allergies</p>
                    {% endif %}

                </div>
                <div class="tab-pane fade" id="list-guardian" role="tabpanel" aria-labelledby="list-guardian-list">
                    <h4>Guardian Details</h4>
                    {% if guardian|length > 0 %}
                        {% for guard in guardian %}
                            <p>Title: {{ guard.guardiantitle }}</p>
                            <p>First Name: {{ guard.guardianfirstname }}</p>
                            <p>Surname: {{ guard.guardianlastname }}</p>
                            <p>Relation: {{ guard.patientrelation }}</p>
                            <p>Phone number: {{ guard.contactnumber }}</p>
                            <p>Address: {{ guard.address }}</p>
                            <p>Email: {{ guard.email }}</p>
                        {% endfor %}
                    {% else %}
                        <p>No guardian details</p>
                    {% endif %}
                <a class="btn btn-primary btn-lg" href="{% url 'add-guardian' id=patient_list.id %}">Add Guardian Details</a>
                </div>
                <div class="tab-pane fade" id="list-notes" role="tabpanel" aria-labelledby="list-notes-list">
                    <h4>Notes</h4>
                    <a class="btn btn-primary btn-lg" href="{% url 'add-note' id=patient_list.id %}">Upload note</a>
                    {% if notesandscans|length > 0 %}
                        {% for note in notesandscans %}
                            <p>Note: {{ note.note_name }}</p>
                            <img class="img-thumbnail" src="{{ note.notes.url }}">
                        {% endfor %}
                    {% else %}
                        <p>No Notes</p>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="list-social" role="tabpanel" aria-labelledby="list-social-list">
                    <h4>Notes</h4>
                    {% if social|length > 0 %}
                        {% for detail in social %}
                            <p>Occupation: {{ detail.occupation }}</p>
                            <p>Smoker: {{ detail.smoking }}</p>
                            <p>Drink: {{ detail.drink }}</p>
                            <p>sexual Orientation: {{ detail.sexualorientation }}</p>
                            <p>Social drug use: {{ detail.socialdruguse }}</p>
                            <p>Handicaps: {{ detail.handicaps }}</p>
                            <p>Sexually Active: {{ detail.sexuallyactive }}</p>
                        {% endfor %}
                    {% else %}
                        <p>No Social history</p>
                    {% endif %}
                <a class="btn btn-primary btn-lg" href="{% url 'add-social' id=patient_list.id %}">Add Social History</a>
                </div>
                <div class="tab-pane fade" id="list-familyhist" role="tabpanel" aria-labelledby="list-familyhist-list">
                    <h4>Notes</h4>
                    {% if familyhistory|length > 0 %}
                        {% for family in familyhistory %}
                            <p>Allgergies: {{ family.allgergies }}</p>
                            <p>Asthma: {{ family.asthma }}</p>
                            <p>Arthritis: {{ family.arthritis }}</p>
                            <p>Glaucoma: {{ family.glaucoma }}</p>
                            <p>Cancer: {{ family.cancer }}</p>
                            <p>Tuberculosis: {{ family.tuberculosis }}</p>
                            <p>Diabetes: {{ family.diabetes }}</p>
                            <p>Heart Problems: {{ family.hearttrouble }}</p>
                            <p>High Blood Pressure: {{ family.highbloodpressure }}</p>
                            <p>Stroke: {{ family.stroke }}</p>
                            <p>Epilepsy: {{ family.epilepsy }}</p>
                            <p>Substance Abuse: {{ family.substanceabuse }}</p>
                            <p>Depression: {{ family.depression }}</p>
                            <p>Emotional Problems: {{ family.emotionalproblems }}</p>
                            <p>Suicide: {{ family.suicide }}</p>
                            <p>Tidney Trouble: {{ family.kidneytrouble }}</p>
                            <p>Thyroid Disease: {{ family.thyroiddisease }}</p>
                        {% endfor %}
                    {% else %}
                        <p>No Social history</p>
                    {% endif %}
                <a class="btn btn-primary btn-lg" href="{% url 'add-family-hist' id=patient_list.id %}">Add Family History</a>
                </div>
                <div class="tab-pane fade" id="list-diagnosishistory" role="tabpanel" aria-labelledby="list-diagnosishistory-list">
                    <h4>Diagnosis History</h4>
                    {% if diagnosis|length > 0 %}
                        {% for diag in diagnosis %}
                            <p>Previous Diagnosis: {{ diag.previousdiagnosis }}</p>
                            <p>Diagnosed Date/Time: {{ diag.diagnoseddatetime }}</p>
                            <p>Treatment: {{ diag.treatment }}</p>
                            <p>Treatment Date/Time: {{ diag.treatmentdatetime }}</p>
                            <p>Result: {{ diag.result }}</p>
                        {% endfor %}
                    {% else %}
                        <p>No Diagnosis history</p>
                    {% endif %}
                <a class="btn btn-primary btn-lg" href="{% url 'add-diag-hist' id=patient_list.id %}">Add Diagnosis</a>
                </div>
                <div class="tab-pane fade" id="list-news" role="tabpanel" aria-labelledby="list-news-list">
                    <h4>Nation Early Warning Score</h4>
                    {% if news|length > 0 %}
                        {% for n in news %}
                            <p>Date: {{ n.date }}</p>
                            <p>Respiration Rate: {{ n.respirationrate }}</p>
                            <p>Oxygen Saturation: {{ n.oxygensaturation }}</p>
                            <p>Systolic Blood Pressure: {{ n.systolicbloodpressure }}</p>
                            <p>Level of Consciousness & Confusion: {{ n.levelofconsciousnessnewconfusion }}</p>
                            <p>Temperature: {{ n.temperature }}</p>
                        {% endfor %}
                    {% else %}
                        <p>No National early warning score history</p>
                    {% endif %}
                <a class="btn btn-primary btn-lg" href="{% url 'add-news' id=patient_list.id %}">Add N.E.W.S</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
