{% extends "mysite/base.html" %}
{% block content %}
    <h1>Patient Details</h1>
    {% for patient in patients %}
        <h3>Name: {{ patient.patientname }}</h3>
        <h4>DOB: {{ patient.dateofbirth|date:"d F y" }}</h4>
        <h4>Gender: {{ patient.gender }}</h4>
        <h4>Address: {{ patient.address }}</h4>
        <h4>Phone Number: {{ patient.phonenumber }}</h4>
        <h4>Email: {{ patient.email }}</h4>
        <h4>Photo: {{ patient.photo }}</h4>
    {% endfor %}
{% endblock content %}
