{% extends "mysite/base.html" %}
{% block content %}

    <h2>Patient List</h2>
    <form method="GET" action='' class="form-inline">
        {% csrf_token %}

            <input type="text" name="patient_id" id="search-id" class="form-control mb-2 mr-sm-2"  placeholder="Patient Id" value="{{ requests.GET.patient_id }}">
            <input type="text" name="patient_firstname" id="search-firstname" class="form-control mb-2 mr-sm-2"  placeholder="Firstname" value="{{ requests.GET.patient_firstname }}">
            <input type="text" name="patient_surname" id="search-surname" class="form-control mb-2 mr-sm-2"  placeholder="Surname" value="{{ requests.GET.patient_surname }}">
            <input type="text" name="patient_dob" id="search-dob" class="form-control mb-2 mr-sm-2"  placeholder="DOB" value="{{ requests.GET.patient_id }}">
            <input type="submit" value="Search" class="form-control btn btn-primary mb-2 mr-sm-2">
    </form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Patient Id</th>
                <th scope="col">First name</th>
                <th scope="col">Surname</th>
                <th scope="col">Photo</th>
                </a>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr  class="clickable-tr" href="patient/{{patient.id}}" >
                <td scope="row">{{ patient.id }}</td>
                <td scope="row">{{ patient.patientfirstname }}</td>
                <td scope="row">{{ patient.patientlastname }}</td>
                <td scope="row">{{ patient.photo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ patients.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ patients.number }} of {{ patients.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ patients.next_page_number }}">next</a>
            <a href="?page={{ patients.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    <div id="search-table"></div>
{% endblock content %}

